{% extends "base.html" %} 


{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-3">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to Codemy Ecommerce website
      </p>
    </div>
  </div>
</header>

<section>
    <div class="container mt-3">
        <div class="row">
            <center>
                <div class="col-lg-8">
                    <p align='justify'>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum qui numquam molestiae, dolores cupiditate neque, veritatis obcaecati reiciendis provident ab, at id temporibus nihil repellat tempore facilis itaque eum cum rerum? Ipsum, ea aliquid voluptas, explicabo harum quae quidem dignissimos expedita voluptatem reiciendis quibusdam ex excepturi! Corrupti ab sequi nisi, quaerat incidunt doloribus nostrum distinctio laborum rem! Rerum quod similique et animi provident adipisci eveniet? Ut dolores inventore ipsum quod atque omnis id vel dolorem illo quia ratione eos ipsam odit, molestiae, cumque neque impedit porro obcaecati facere suscipit perspiciatis rerum debitis in. Ipsa inventore sint ea asperiores unde accusamus? <br><br>
                        Labore quisquam praesentium doloribus assumenda recusandae, obcaecati consectetur, numquam ea similique, vitae eligendi eveniet? Pariatur animi voluptatem a consectetur earum ea sunt aut ut ipsa quaerat officiis molestiae eaque, ullam recusandae voluptates amet asperiores error provident officia labore incidunt itaque. Quam atque temporibus voluptas. Tempore perferendis labore illo, voluptas accusamus, neque exercitationem nobis debitis aspernatur iusto libero facere odit! Possimus laudantium quae error. Adipisci veniam fuga, odio magnam distinctio at ab, ipsa laudantium nobis eum quidem similique delectus rem aut in reprehenderit sunt eos ipsam. Dolore soluta, hic in facere, repudiandae eaque omnis temporibus vero natus enim quae, reiciendis libero.<br><br>
                        Cum, quia totam minima asperiores voluptas dolorum sint hic quidem, iste tempore id illum quasi. Dolorum reprehenderit, suscipit, odit dolorem nam molestiae molestias sunt eius fugit veniam nostrum quos non. Quae autem quis eligendi voluptatum facere suscipit voluptatem debitis corporis enim maiores architecto ratione aliquam, dolorem, distinctio dicta et ut, deserunt accusantium. Eveniet suscipit cum sit sunt? Reprehenderit id reiciendis nam molestiae possimus fugiat nulla voluptate. Veniam voluptatibus eaque error, modi quos aliquid, nesciunt in ratione voluptatum earum debitis minima recusandae cumque. Ut numquam ipsum voluptas tempore natus debitis, eveniet quis odio dolorem ratione harum quae reprehenderit ex distinctio. Minus.
                    </p>
                </div>
            </center>
        </div>
    </div>
</section>

<br>
{% endblock %}
