{% extends "base.html" %} 


{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-3">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Categories</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Choose your category below...
      </p>
    </div>
  </div>
</header>

<section>
    <div class="container mt-3">
        <div class="row">
            <center>
                <div class="col-lg-8 d-flex flex-column">
                    {% for category in categories %}
                    <a href="{% url "category" category.name %}">{{category.name}}</a>
                    {% endfor %}
                </div>
            </center>
        </div>
    </div>
</section>

<br>
{% endblock %}
