{% extends "base.html" %} 

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-3">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Register</h1>
      <p class="lead fw-normal text-white-50 mb-0">Register for a User Account...</p>
    </div>
  </div>
</header>

<section>
  <div class="container mt-3">
    <div class="row">
        <div class="col-lg-8">
          <form action='{% url "register" %}' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class='btn btn-success'>Register</button>
          </form>
        </div>
    </div>
  </div>
</section>

<br />
{% endblock %}
