{% extends "base.html" %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-3">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Update Info</h1>
      <p class="lead fw-normal text-white-50 mb-0">Update User Info...</p>
    </div>
  </div>
</header>

<section>
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-8">
        <strong>Billing Information</strong><br><br>
        <form action='{% url "update_info" %}' method="POST">
          {% csrf_token %} {{form.as_p}}
          <strong>Shipping Information</strong><br><br>
          {{shipping_form.as_p}}
          <button type="submit" class="btn btn-success">Update</button>
        </form>
      </div>
    </div>
  </div>
</section>

<br />
{% endblock %}
